Manifest.toml
*.jl.cov
*.jl.*.cov
coverage/
docs/build/
docs/integration_4body_b2ddKpi.md
docs/lb2lc3pi-model.md
docs/src/tutorial.md
docs/src/lb2lc3pi-model.md
docs/integration_4body_b2ddKpi.html
docs/integration_4body_b2ddKpi_files/
docs/lb2lc3pi-model_files/
docs/src/lb2lc3pi-model_files/
docs/**/_freeze/
docs/test_ls.jl
docs/.DS_Store
